<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>

<!--<h1>Top Panel on All Pages</h1>-->
<div class="top_panel_holder">
    <div class="top_panel">
        <div class="flag"><img src="assets/images/discount.svg"><span>pizza KMA</span></div>
        <div class="top_panel_stuff">
            <div class="top_panel_top_part row">
                <div class="telephone col-sm-8 col-md-5 col-lg-3">(044) 222 5 222</div>
                <div class="col-xs-0 col-md-5 col-lg-4 hidden-xs hidden-sm"><div>4 години 7 днів на тиждень</div></div>
                <div class="col-md-0 col-lg-4 visible-lg-inline-block"><div>Безкоштовна доставка піци</div></div>
                <div class="enter col-sm-4 col-md-2 col-lg-1"><button type="button" class="btn btn-warning">Ввійти</button></div>
            </div>
            <div class="top_panel_bottom_part row"> <div class=" col-sm-2 hidden-xs">Піца</div></div>
        </div>
    </div>
</div>

